<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Google Tag Manager -->
 <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Bitcoin.com Pool</title>
    <!-- Bootstrap Core CSS -->
    <link href="/asset/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/asset/font-awesome/fonts/fontawesome-webfont.woff2" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
    <!-- W3CSS -->
    <link rel="stylesheet"  href="/asset/w3css/w3-theme-blue-grey.css">
    <link rel="stylesheet"  href="/asset/w3css/w3.css"> 
    <!-- Theme CSS -->
    <link rel="stylesheet"  href="/asset/css/main.css">
    <link rel="stylesheet"  href="/asset/css/mystyle.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
</head>
<body>

    <!-- Navbar -->
        <nav class="navbar" id="myTopnav">
            <a href="#home"><i class="fa fa-home"></i> Home</a>
            <a href="#news"><i class="fa fa-globe"></i> News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="#search"><i class="fa fa-search"></i> Search</a> 
            <a href="#message" title="Messages"><i class="fa fa-envelope"></i></a>
        </nav>
    {{template "body" .Data}}

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
    (function(){ var widget_id = '1OUYUnsFc1';var d=document;var w=window;function l(){
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
    <!-- {/literal} END JIVOSITE CODE -->

    <footer>
        <p>&copy 2017 Resoledge Limited. All rights reserved.</p>
    </footer>

</body>
</html>
