<!doctype html>

<head>
</head>

<body>
        <div id="message" style="display: none;">this is it again and again</div>
        <p onclick="$(this).hide();">this now</p>
    
    
    <script type="text/javascript" src="C:/Users/chidi/gocode/src/github.com/estatebulletin/asset/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="C:/Users/chidi/gocode/src/github.com/estatebulletin/asset/js/jquery.js"></script>
    <footer>
    </footer>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'BjkFKOzoFf';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
</body>

