<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>jQuery Example</title>
    <link rel
</head>

<body>
    <div id = "message" style = "display: none;">Welcome to my website</div>
    <p id = "paragraph"> Click if you dislike me 😢</p>
    <script type="text/javascript" src="C:/GoWorkspace/src/github.com/bobsar0/estatebulletin/js/jquery.js"></script>
    <script type="text/javascript" src="C:/GoWorkspace/src/github.com/bobsar0/estatebulletin/js/hide.js"></script>

</body>

<footer>
</footer>