
      
     
   
<body class="index" id="page-top">
    <!-- Google Tag Manager (noscript) -->
    <noscript>&lt;iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-5N6TL56"
    height="0" width="0"
    style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <script>var enchant = enchant || []</script>
    <script src="https://platform.enchant.com" data-enchant-messenger-id="2c02aa41" async="async"></script>
    
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-custom navbar-fixed-top affix-top" id="mainNav">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">
                  <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i></button> <a class="navbar-brand page-scroll" href="#page-top"><span class="moon-symbol" style="color: #f9b016;"></span>itcoin.com Pool</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                        <li class="hidden active">
                            <a href="#page-top"></a>
                        </li>
                        <li class="">
                            <a class="page-scroll" href="#features">Features</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#buyhashrate">Cloud Mining</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#faq">FAQ</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="page-scroll" type="button" id="menu1" data-toggle="dropdown" style=" color: #fff; background: transparent; border-width: 3px; border-color: transparent; border-radius: 3px; border-style: solid; margin-right: 5px;"><i class="fa fa-globe" style="font-size:30px;"></i>&nbsp;<span><a>English</a></span>&nbsp;
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" style="background:#222222;">
                                    <li><a tabindex="-1" href="index_en.html">English</a></li>
                                    <li><a tabindex="-1" href="index_es.html">Español</a></li>
                                    <li><a tabindex="-1" href="index_zh.html">中文</a></li>
                                    <li><a tabindex="-1" href="index_ja.html">日本語</a></li>
                                    <li><a tabindex="-1" href="index_ko.html">한국어</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="page-scroll" href="https://console.pool.bitcoin.com/register" id="signupbtntop" style=" color: #fff; background: #f6bf01; border-width: 3px; border-color: #f6bf01; border-radius: 3px; border-style: solid; padding-top: 12px; padding-bottom: 12px; margin-right: 5px;">Sign Up</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="https://console.pool.bitcoin.com/" id="loginbtntop" style=" color: #f6bf01; background: transparent; border-width: 3px; border-color: #f6bf01; border-radius: 3px; border-style: solid; padding-top: 12px; padding-bottom: 12px; margin-left: 5px;">Log In</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="https://console.pool.bitcoin.com/" id="dashboardbtntop" style=" color: #fff; background: #f6bf01; border-width: 3px; border-color: #f6bf01; border-radius: 3px; border-style: solid; padding-top: 12px; padding-bottom: 12px; margin-right: 5px; display: none;">Go to Dashboard</a>
                        </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>
      
      <!-- Header -->
      <header>
          <div class="container">
              <div class="intro-text" style=" font-size: 0px;">
                  <div class="intro-lead-in">
                      110% Block Reward, 0% Fees
                  </div>
                  <div class="intro-heading">
                      <span class="moon-symbol" style="color: #f9b016;"></span>itcoin.com Pool
                  </div>
                  <div class="row">
                      <div class="text-center">
                          <img class="intro-loading" src="img/loading.svg" height="70px" width="70px" \="" style="display: none;">
              <div class="container intro-stats" style="max-width: 500px;">
                <div class="row" style="padding-bottom:15px;">
                  <div class="col-sm-4" style="border: rgb(246, 191, 1) 1px solid; padding:5px; background-color: rgb(246, 191, 1);">BTC</div>
                  <div class="col-sm-8" style="border: rgb(246, 191, 1) 1px solid; padding:5px; background-color: rgba(0,0,0,0.5);"><span class="poolhashratecounter">71.449 Ph/s</span></div>
                </div>
                <div class="row">
                  <div class="col-sm-4" style="border: rgb(246, 191, 1) 1px solid; padding:5px; background-color: rgb(246, 191, 1);">BCC</div>
                  <div class="col-sm-8" style="border: rgb(246, 191, 1) 1px solid; padding:5px; background-color: rgba(0,0,0,0.5);"><span class="bccpoolhashratecounter">92.71 Ph/s</span></div>
                </div>
              </div>
                      </div>
                  </div>
                  
                  <a class="page-scroll btn" href="#buyhashrate" id="signupbtn" style=" color: #fff; background: #f6bf01; border-width: 4px; border-color: #f6bf01; border-radius: 20px; font-size: 32px; border-style: solid; padding-left: 16px; padding-right: 16px; margin-right: 5px;">Buy Hashrate</a>
                  
                  <a class="page-scroll btn" href="https://console.pool.bitcoin.com/register" id="signupbtn" style=" color: #fff; background: #f6bf01; border-width: 4px; border-color: #f6bf01; border-radius: 20px; font-size: 32px; border-style: solid; padding-left: 16px; padding-right: 16px; margin-right: 5px; display: none;">Sign Up</a>
                  
                  <a class="page-scroll btn" href="https://console.pool.bitcoin.com/" id="loginbtn" style=" color: #f6bf01; background:transparent; border-width: 4px; border-color: #f6bf01; border-radius: 20px; font-size: 32px; border-style: solid; padding-left: 16px; padding-right: 16px; margin-left: 5px; display: none;">Login</a>
                  
                  <a class="page-scroll btn" href="https://console.pool.bitcoin.com/" id="dashboardbtn" style=" color: #fff; background: #f6bf01; border-width: 4px; border-color: #f6bf01; border-radius: 20px; font-size: 32px; border-style: solid; padding-left: 16px; padding-right: 16px; margin-right: 5px; display: none;">Go to Dashboard</a>
              </div>
          </div>
      </header>
      
      <!-- Features Section -->
      <section id="features">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Features</h2>
                      <h3 class="section-subheading text-muted"></h3>
                  </div>
              </div>
              <div class="row text-center">
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i></span>
                      <h4 class="service-heading">Most Profitable Pool for Miners</h4>
                      <p class="text-muted">We pay a <strong>110% block reward</strong>, and charge <strong>0% fees</strong> for PPS and PPLNS.</p>
                  </div>
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-cloud fa-stack-1x fa-inverse"></i></span>
                      <h4 class="service-heading">Cloud Mining</h4>
                      <p class="text-muted">Start mining immediately with our cloud mining contracts! <strong>100% guaranteed uptime</strong>.</p>
                  </div>
                  <div class="col-md-4">
                      <span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i> <i class="fa fa-btc fa-stack-1x fa-inverse"></i></span>
                      <h4 class="service-heading">Mine Bitcoin Legacy (BTC) or Bitcoin Cash (BCC)</h4>
                      <p class="text-muted">We offer BTC and BCC mining. You can also chose to automatically mine the most profitable coin.</p>
                  </div>
              </div>
          </div>
      </section>
      
      <!-- Revenue Calculator Section -->
      <section id="revenuecalculator">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="service-heading">How Much Will I Earn?</h2><br>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-10 col-sm-8 col-lg-6" style="margin: 0 auto; float: none;">
                  <form class="form-inline" style="font-size: 18px; text-align: center;">
                      <div class="form-group">
                          <input class="form-control" id="hashrateInput" placeholder="Hashrate" type="text"> <select class="form-control" id="selectUnit">
                              <option value="ths">
                                  TH/s
                              </option>
                              <option value="phs">
                                  PH/s
                              </option>
                          </select> <button class="btn btn-info btn-lg btn-labeled btn-labeled-right" id="calculatebtn" style="height: 33px; line-height: 12px;" type="button"><b><i class="fa fa-calculator"></i></b> Calculate</button>
                      </div>
                      <div>
                          <br>
                          <label class="control-label">Estimated 24 hour revenue:</label><br>
                          <div class="form-group" style="font-size:24px;">
                              <span id="calculation">0.000 000 000 BTC</span>
                          </div>
                          <div style="font-size:18px;">
                              (will change based on mining difficulty and Bitcoin price)
                          </div>
                          
                      </div>
                  </form>
              </div>
          </div>
      </section>
      
      <!-- Buy Hashrate Section -->
      <section class="bg-light-gray" id="buyhashrate">
          <div class="container" style="max-width: 1300px; width: auto;">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Cloud Mining</h2>
                  </div>
              </div>
              <div class="text-center" style="font-size:20px">
                  Prices are shown in US Dollars. <br>
                  You can switch between BTC and BCC for free.<br>
                  <br>
              </div>
              <div class="row" id="contracts">
                  <!-- Ajax content inserted here -->
              <div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="panel panel-body" style="padding:0px;">
                                  <ul class="price" style="width:100%;">
                                      <li class="header" style="padding: 15px;">
                                          12 Month Plan
                                      </li>
                                      <li class="grey" style="padding-bottom:10px;">
                                          <div class="row">
                                              <div class="col-xs-6"><div style="font-size:30px">$<span class="initial-cost" data-initialcost="239">1,195</span></div> Initial Cost</div>
                                              <div class="col-xs-6"><div style="font-size:30px">$<span class="daily-fee" data-dailyfee="0.28">1.40</span></div> Daily Fee <span class="helptooltip tooltipstered" data-tooltip-content="#fee_tooltip_content" style="border-bottom: 1px dashed #fff; text-decoration: none;"><i class="fa fa-question-circle"></i></span></div>
                                              
                                              <!-- Invisible spans just for storing contract data -->
                                              <span class="min-ths" style="display:none;">2</span>
                                              <span class="max-ths" style="display:none;">164</span>
                                              <span class="non-discounted-price" style="display:none;">239</span>
                                              <span class="discounts" style="display:none;">[]</span>
                                          </div>
                                          <div class="row" style="padding-top:10px;">
                                              <div class="cost-per-ths" style="font-size:24px;">$239 per TH/s</div>
                                          </div>
                                      </li>
                                      <li class="grey" style="padding-top:10px;">
                                          <div style="border-bottom: 2px dotted #F9B016; display: inline;">
                                              <input type="text" class="hashrate-input" value="1 TH/s" style="max-width:220px; text-align: center; font-size:40px; color: #F9B016; background-color:rgba(0,0,0,0) !important; border:none !important; box-shadow:none !important;">
                                          </div>
                                          <div style="font-size:25px; min-height:72px;">for 1 year</div>
                                          <div class="hashrate-slider noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-connect" style="left: 0%; right: 88.8889%;"></div><div class="noUi-origin" style="left: 11.1111%;"><div class="noUi-handle noUi-handle-lower" data-handle="0" style="z-index: 4;"></div></div></div></div>
                                      </li>
                                      <li class="grey" style="padding-top:10px;">
                                          <div>Current Daily Returns <span class="helptooltip tooltipstered" data-tooltip-content="#returns_tooltip_content" style="border-bottom: 1px dashed #fff; text-decoration: none;"><i class="fa fa-question-circle"></i></span></div>
                                          <div><span class="expected-btc-revenue" data-btcperths="0.00025068">0.0012534</span> BTC ($<span class="expected-usd-revenue" data-usdperths="0.9163908509765625">4.58</span>) per day</div>
                                      </li>
                                      <li>2 TH/s Minimum Purchase<br>164 TH/s Stock Remaining</li>
                                      <li>Bitcoin, Bitcoin Cash accepted</li>
                                      
                                      <li class="grey"><button class="buybtn button w3-hover-green dropdown-toggle" data-contractid="17">Buy</button></li>
                                      
                                  </ul>
                              </div>
                          </div><div class="col-lg-4 col-md-4 col-sm-6"><div class="ribbon ribbon-top-right"><span>POPULAR!</span></div>
                              <div class="panel panel-body" style="padding:0px;">
                                  <ul class="price" style="width:100%;">
                                      <li class="header" style="padding: 15px;">
                                          Lifetime Plan
                                      </li>
                                      <li class="grey" style="padding-bottom:10px;">
                                          <div class="row">
                                              <div class="col-xs-6"><div style="font-size:30px">$<span class="initial-cost" data-initialcost="329">1,645</span></div> Initial Cost</div>
                                              <div class="col-xs-6"><div style="font-size:30px">$<span class="daily-fee" data-dailyfee="0.28">1.40</span></div> Daily Fee <span class="helptooltip tooltipstered" data-tooltip-content="#fee_tooltip_content" style="border-bottom: 1px dashed #fff; text-decoration: none;"><i class="fa fa-question-circle"></i></span></div>
                                              
                                              <!-- Invisible spans just for storing contract data -->
                                              <span class="min-ths" style="display:none;">2</span>
                                              <span class="max-ths" style="display:none;">0</span>
                                              <span class="non-discounted-price" style="display:none;">329</span>
                                              <span class="discounts" style="display:none;">[]</span>
                                          </div>
                                          <div class="row" style="padding-top:10px;">
                                              <div class="cost-per-ths" style="font-size:24px;">$329 per TH/s</div>
                                          </div>
                                      </li>
                                      <li class="grey" style="padding-top:10px;">
                                          <div style="border-bottom: 2px dotted #F9B016; display: inline;">
                                              <input type="text" class="hashrate-input" value="1 TH/s" style="max-width:220px; text-align: center; font-size:40px; color: #F9B016; background-color:rgba(0,0,0,0) !important; border:none !important; box-shadow:none !important;">
                                          </div>
                                          <div style="font-size:25px; min-height:72px;">for a lifetime (while profitable)</div>
                                          <div class="hashrate-slider noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-connect" style="left: 0%; right: 88.8889%;"></div><div class="noUi-origin" style="left: 11.1111%;"><div class="noUi-handle noUi-handle-lower" data-handle="0" style="z-index: 4;"></div></div></div></div>
                                      </li>
                                      <li class="grey" style="padding-top:10px;">
                                          <div>Current Daily Returns <span class="helptooltip tooltipstered" data-tooltip-content="#returns_tooltip_content" style="border-bottom: 1px dashed #fff; text-decoration: none;"><i class="fa fa-question-circle"></i></span></div>
                                          <div><span class="expected-btc-revenue" data-btcperths="0.00025068">0.0012534</span> BTC ($<span class="expected-usd-revenue" data-usdperths="0.9163908509765625">4.58</span>) per day</div>
                                      </li>
                                      <li>2 TH/s Minimum Purchase<br>0 h/s Stock Remaining</li>
                                      <li>Bitcoin, Bitcoin Cash accepted</li>
                                      
                                      <li class="grey"><div style="color:red; padding-top:14px; padding-bottom:14px;">Out of stock</div><div><a href="http://eepurl.com/cPQ2m9" class="btn btn-lg btn-warning" role="button">Join Waiting List</a>
                                      
                                  </div></li></ul>
                              </div>
                          </div><div class="col-lg-4 col-md-4 col-sm-6">
                              <div class="panel panel-body" style="padding:0px;">
                                  <ul class="price" style="width:100%;">
                                      <li class="header" style="padding: 15px;">
                                          Lifetime Plan Pre-Order 2
                                      </li>
                                      <li class="grey" style="padding-bottom:10px;">
                                          <div class="row">
                                              <div class="col-xs-6"><div style="font-size:30px">$<span class="initial-cost" data-initialcost="289">1,445</span></div> Initial Cost</div>
                                              <div class="col-xs-6"><div style="font-size:30px">$<span class="daily-fee" data-dailyfee="0.28">1.40</span></div> Daily Fee <span class="helptooltip tooltipstered" data-tooltip-content="#fee_tooltip_content" style="border-bottom: 1px dashed #fff; text-decoration: none;"><i class="fa fa-question-circle"></i></span></div>
                                              
                                              <!-- Invisible spans just for storing contract data -->
                                              <span class="min-ths" style="display:none;">2</span>
                                              <span class="max-ths" style="display:none;">0</span>
                                              <span class="non-discounted-price" style="display:none;">289</span>
                                              <span class="discounts" style="display:none;">[]</span>
                                          </div>
                                          <div class="row" style="padding-top:10px;">
                                              <div class="cost-per-ths" style="font-size:24px;">$289 per TH/s</div>
                                          </div>
                                      </li>
                                      <li class="grey" style="padding-top:10px;">
                                          <div style="border-bottom: 2px dotted #F9B016; display: inline;">
                                              <input type="text" class="hashrate-input" value="1 TH/s" style="max-width:220px; text-align: center; font-size:40px; color: #F9B016; background-color:rgba(0,0,0,0) !important; border:none !important; box-shadow:none !important;">
                                          </div>
                                          <div style="font-size:25px; min-height:72px;">for a lifetime (while profitable)</div>
                                          <div class="hashrate-slider noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-connect" style="left: 0%; right: 88.8889%;"></div><div class="noUi-origin" style="left: 11.1111%;"><div class="noUi-handle noUi-handle-lower" data-handle="0" style="z-index: 4;"></div></div></div></div>
                                      </li>
                                      <li class="grey" style="padding-top:10px;">
                                          <div>Pre-Order Delivery Date</div>
                                          <div>2017-10-31</div>
                                      </li>
                                      <li>2 TH/s Minimum Purchase<br>0 h/s Stock Remaining</li>
                                      <li>Bitcoin, Bitcoin Cash accepted</li>
                                      
                                      <li class="grey"><div style="color:red; padding-top:14px; padding-bottom:14px;">Out of stock</div><div><a href="http://eepurl.com/cPQ2m9" class="btn btn-lg btn-warning" role="button">Join Waiting List</a>
                                      
                                  </div></li></ul>
                              </div>
                          </div></div>
              <div class="text-center" style="font-size:20px">
                  <a href="http://eepurl.com/cPQ2m9">Click here</a> to receive an email when we add new stock!
              </div>
              <div class="tooltip_templates" style="display: none;">
                  <span id="returns_tooltip_content" style="font-size:14px;">
                      <ul>
              <li><span id="returns_tooltip_content" style="font-size:14px;">Does not include daily fee.</span></li>
                          <li><span id="returns_tooltip_content" style="font-size:14px;">Calculation is based on current difficulty and Bitcoin price.</span></li>
                          <li><span id="returns_tooltip_content" style="font-size:14px;">Difficulty increases about 5% every 2 weeks, but may vary based on global hashrate. <u><a href="https://bitcoinwisdom.com/bitcoin/difficulty" style="color:#fff;">Click here</a></u> to view historical difficulty increases.</span></li>
                          <li><span id="returns_tooltip_content" style="font-size:14px;">Includes block reward bonus (currently 10%), which we reserve the right to change.</span></li>
                      </ul>
                  </span>
                  <span id="fee_tooltip_content" style="font-size:14px;">
                      <ul>
                          <li><span id="fee_tooltip_content" style="font-size:14px;">Daily fee is for covering electricity and maintenance costs.</span></li>
                          <li><span id="fee_tooltip_content" style="font-size:14px;">Daily fee is subtracted from daily revenue.</span></li>
                          <li><span id="fee_tooltip_content" style="font-size:14px;">Contract will end if daily fee exceeds revenue for 60 consecutive days.</span></li>
                      </ul>
                  </span>
              </div>
          </div>
      </section>
      
      <!-- Data Center Section -->
      <section id="datacenter">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Datacenter</h2>
              </div>
              <div class="text-center" style="font-size:20px">
                  We have partnered with the largest Bitcoin mining farm in North America, to source cloud mining hashrate at the best value.
                  <br>
              </div>
          </div>
          <div class="row">
              <style>
               .swiper-container {
                   max-width:1200px;
                   max-height:900px;
                   width: 60vw;
                   height:45vw;
                   margin: 20px auto;
               }
               .swiper-slide {
                   text-align: center;
                   font-size: 18px;
                   background: #fff;
                   /* Center slide text vertically */
                   display: -webkit-box;
                   display: -ms-flexbox;
                   display: -webkit-flex;
                   display: flex;
                   -webkit-box-pack: center;
                   -ms-flex-pack: center;
                   -webkit-justify-content: center;
                   justify-content: center;
                   -webkit-box-align: center;
                   -ms-flex-align: center;
                   -webkit-align-items: center;
                   align-items: center;
                   
               }
              </style>
              
              <!-- Slider main container -->
              <div class="swiper-container swiper-container-horizontal">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper" style="transform: translate3d(-798px, 0px, 0px); transition-duration: 0ms;">
                      <!-- Slides -->
                      <div class="swiper-slide swiper-slide-prev" style="width: 768px; margin-right: 30px;"><img height="auto" src="img/DSCF1806.jpg" width="100%"></div>
                      <div class="swiper-slide swiper-slide-active" style="width: 768px; margin-right: 30px;"><img height="auto" src="img/DSCF1819.jpg" width="100%"></div>
                      <div class="swiper-slide swiper-slide-next" style="width: 768px; margin-right: 30px;"><img height="auto" src="img/DSCF1817.jpg" width="100%"></div>
                      <div class="swiper-slide" style="width: 768px; margin-right: 30px;"><img height="auto" src="img/DSCF1841.jpg" width="100%"></div>
                  </div>
                  
                  <!-- If we need pagination -->
                  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
                  
                  <!-- If we need navigation buttons -->
                  <div class="swiper-button-next swiper-button-white"></div>
                  <div class="swiper-button-prev swiper-button-white"></div>
              </div>
          </div>
      </section>
      
      <!-- Stats Grid Section -->
      <section class="bg-light-gray" id="stats" style="display:none;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Statistics</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-4 text-center">
                      <p class="text-muted">Pool Hashrate (Global Hashrate %)</p>
                      <h3 class="service-heading"><span class="poolhashratecounter">71.449 Ph/s</span> (<span class="globalhashratepercentage">0.819%</span>)</h3>
                  </div>
                  <div class="col-xs-4 text-center">
                      <p class="text-muted">Connected Miners</p>
                      <h3 class="service-heading"><span class="workerscounter">12207</span></h3>
                  </div>
                  <div class="col-xs-4 text-center">
                      <p class="text-muted">Active Users</p>
                      <h3 class="service-heading"><span class="userscounter">238</span></h3>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-12 text-center">
                      <div class="hashratechart" id="hashratechartweekall" style="width:100%;height:400px;"></div>
                  </div>
              </div>
          </div>
      </section>
      
      <!-- FAQ Section -->
      <section id="faq">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">FAQ</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-xs-8 col-xs-offset-2">
                      <br>
                      <h4 class="service-heading">How do I get started?</h4>
                      <p class="text-muted">To get started, please buy a cloud mining contract from us. You don't need any special hardware to do cloud mining, we will do the mining for you. If you have your own specialized mining hardware (such as an Antminer S9 or Avalon 721), you can connect it to our pool with the address displayed in the dashboard.</p><br>
                      <h4 class="service-heading">Why do I earn more at Bitcoin.com Pool?</h4>
                      <p class="text-muted">We pay 110% of the block reward, charge 0% fees, and have an extremely high share acceptance rate. Our hashrate contracts also have the most competitive prices in the industry.</p><br>
                      <h4 class="service-heading">Why are you selling cloud mining contracts? Why not keep the profit for yourself?</h4>
                      <p class="text-muted">We are selling cloud mining contracts to grow our hashrate. Even though our prices are the lowest in cloud mining industry, we still make a slight profit from each sale. We will use the sales revenue to immediately purchase more mining hardware.<br><br>If we didn't sell mining contracts, we would have to use our own capital to purchase more mining hardware. Selling the contracts at a discount of what they will actually earn allows us to leverage our working capital to grow much much faster than we would be able to otherwise.</p><br>
                      <h4 class="service-heading">Where can I discuss your pool?</h4>
                      <p class="text-muted">You can discuss at this <a href="https://forum.bitcoin.com/pools/bitcoin-com-mining-pool-official-discussion-thread-t10578.html">Bitcoin.com forum thread</a>.</p>
                  </div>
              </div>
          </div>
          <div class="row">
                      <div class="text-center">
              <a class="page-scroll btn" href="https://poolsupport.bitcoin.com/" style=" color: #fff; background: #f6bf01; border-width: 4px; border-color: #f6bf01; border-radius: 20px; font-size: 32px; border-style: solid; padding-left: 16px; padding-right: 16px; margin-right: 5px;">More FAQ Questions</a>
                      </div>
          </div>
      </section>
      
      <!-- Team Section -->
      <section class="bg-light-gray" id="team">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Developed by</h2>
                      <h3 class="section-subheading text-muted"></h3>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img alt="" class="img-responsive img-circle" src="img/team/emil_oldenburg.jpg">
                          <h4>Emil Oldenburg</h4>
                          <p class="text-muted">CTO of Bitcoin.com</p>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img alt="" class="img-responsive img-circle" src="img/team/shaun_chong.jpg">
                          <h4>Shaun Chong</h4>
                          <p class="text-muted">Developer at Bitcoin.com</p>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img alt="" class="img-responsive img-circle" src="img/team/andrew_stone.jpg">
                          <h4>Andrew Stone</h4>
                          <p class="text-muted">Bitcoin Unlimited Developer</p>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="team-member">
                          <img alt="" class="img-responsive img-circle" src="img/team/andrea_suisani.jpg">
                          <h4>Andrea Suisani</h4>
                          <p class="text-muted">Bitcoin Unlimited Developer</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      
      <!-- Contact Section -->
      <section id="contact">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Contact Us</h2><br>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h3><span style="color: #dddddd; text-transform: none;">Please <span><a href="https://poolsupport.bitcoin.com/" target="_top">read the FAQ</a></span> before emailing us. Most questions are answered there.</span> </h3>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h3><span style="color: #dddddd; text-transform: none;">Email: <span><a href="mailto:pool@bitcoin.com" target="_top">pool@bitcoin.com</a></span></span> </h3>
                  </div>
              </div>
          </div>
      </section>
      
      <footer>
          <span style="color: #222222; text-transform: none;"></span>
          <div class="container">
              <span style="color: #222222; text-transform: none;"></span>
              <div class="row">
                  <span>
            <a href="index_en.html" style="color: #444; text-decoration: underline black;">English</a> | 
            <a href="index_es.html" style="color: #444; text-decoration: underline black;">Español</a> |
            <a href="index_zh.html" style="color: #444; text-decoration: underline black;">中文</a> |
            <a href="index_ja.html" style="color: #444; text-decoration: underline black;">日本語</a> |
            <a href="index_ko.html" style="color: #444; text-decoration: underline black;">한국어</a>
          </span>
                  <div class="col-md-4">
                      <span style="color: #222222; text-transform: none;"><span class="copyright">© Saint Bitts LLC</span></span>
                  </div>
              </div>
          </div>
      </footer>
      
      <!-- jQuery -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script type="text/javascript" id="mcjs">!function(c,d,e,a,b){a=c.createElement(d);b=c.getElementsByTagName(d)[0];a.async=1;a.src=e;b.parentNode.insertBefore(a,b)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/542e9753f0ccf54d68a12468b/a1f8a6d393e7587a8b5dde879.js");</script>
   
      
       <!-- Bootstrap Core JavaScript -->
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
       
       <!-- Plugin JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> 
       
      <!-- Contact Form JavaScript -->
      <script src="js/jqBootstrapValidation.js"></script> 
      
      <!-- Theme JavaScript -->
      <script src="js/agency.min.js"></script>
      
      <!-- Hashrate chart -->
      <script src="js/flot/jquery.flot.js"></script> 
      <script src="js/flot/jquery.flot.time.min.js"></script> 
      <script src="js/loadChart.js"></script> 
      <script src="js/hashratestats.js"></script>
      
      <!-- Statistics -->
      <script src="js/statistics.js"></script>
      
      <!-- Revenue Calculator -->
      <script src="js/revenueCalculator.js"></script>
      
      <!-- Buying Hashrate -->
      <script src="js/wNumb.js"></script> 
      <script src="js/nouislider.js"></script> 
      <script src="js/tooltipster.bundle.min.js"></script> 
      <script src="js/buyhashrate.js"></script> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script> 
      <script>
             var swiper = new Swiper('.swiper-container', {
                 pagination: '.swiper-pagination',
                 paginationClickable: true,
                 spaceBetween: 30,
                 nextButton: '.swiper-button-next',
                 prevButton: '.swiper-button-prev',
                 autoplay: '4000'
             });
      </script>
  
  
  <iframe src="https://enchantwidgets-1358.kxcdn.com/frame.html#1506250329222-8sgre3673xc" style="display: none;"></iframe><style>
  #enchant-messenger-launcher {
    display: none;
    position: fixed !important;
    height: 55px !important;
    width: 55px !important;
    border: 0 !important;
    bottom: 20px !important;
    right: 20px !important;
    z-index: 2147483111 !important;
    border-radius: 50% !important;
    transition: box-shadow 0.2s !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1), 0px 0px 30px rgba(0,0,0,0.15) !important;
    transform-origin: center !important;
  }
  
  #enchant-messenger-launcher:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15), 0px 0px 30px rgba(0,0,0,0.25) !important;
  }
  
  #enchant-messenger-launcher.enchant-messenger-animate-in {
    animation: enchantMessengerLauncherIn 0.09s ease-out !important;
    -webkit-animation: enchantMessengerLauncherIn 0.09s ease-out !important;
    -moz-animation: enchantMessengerLauncherIn 0.09s ease-out !important;
    -ms-animation: enchantMessengerLauncherIn 0.09s ease-out !important;
  
  }
  
  #enchant-messenger-main {
    border: 0 !important;
    height: 600px !important;
    width: 400px !important;
    z-index: 10000 !important;
    position: fixed !important;
    /*bottom: 20px;*/
    bottom: -10000px;
    right: 20px !important;
    box-shadow: 0 3px 45px rgba(0,0,0,0.15) !important;
    background: transparent !important;
    border-radius: 15px !important;
  }
  
  #enchant-messenger-main.enchant-messenger-animate-in {
    animation: enchantMessengerIn 0.15s ease-out !important;
    -webkit-animation: enchantMessengerIn 0.15s ease-out !important;
    -moz-animation: enchantMessengerIn 0.15s ease-out !important;
    -ms-animation: enchantMessengerIn 0.15s ease-out !important;
  }
  
  #enchant-messenger-main.enchant-messenger-fullscreen {
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    top: 0 !important;
    box-shadow: none !important;
    background: white !important;
    border-radius: 0 !important;
    display: none;
    width: 100% !important;
    height: 100% !important;
  }
  
  .enchant-messenger-open {
    height: 100% !important;
    width: 100% !important;
    position: fixed !important;
    overflow: hidden !important;
  }
  
  @keyframes enchantMessengerLauncherIn {
    0% {opacity: 0; transform: scale(0.1);} 100% {opacity: 1;}
  }
  @-webkit-keyframes enchantMessengerLauncherIn {
    0% {opacity: 0; transform: scale(0.1);} 100% {opacity: 1;}
  }
  @-moz-keyframes enchantMessengerLauncherIn {
    0% {opacity: 0; transform: scale(0.1);} 100% {opacity: 1;}
  }
  @-ms-keyframes enchantMessengerLauncherIn {
    0% {opacity: 0; transform: scale(0.1);} 100% {opacity: 1;}
  }
  
  @keyframes enchantMessengerIn {
    0% {opacity: 0; bottom: -40px;} 100% {opacity: 1; bottom: 20px;}
  }
  @-webkit-keyframes enchantMessengerIn {
    0% {opacity: 0; bottom: -40px;} 100% {opacity: 1; bottom: 20px;}
  }
  @-moz-keyframes enchantMessengerIn {
    0% {opacity: 0; bottom: -40px;} 100% {opacity: 1; bottom: 20px;}
  }
  @-ms-keyframes enchantMessengerIn {
    0% {opacity: 0; bottom: -40px;} 100% {opacity: 1; bottom: 20px;}
  }
  
  
  </style><iframe id="enchant-messenger-main" src='javascript:document.write("<!DOCTYPE html>");'>
  </iframe><iframe id="enchant-messenger-launcher" src='javascript:document.write("<!DOCTYPE html>");' class="enchant-messenger-animate-in" style="display: inline;">
  </iframe>
</body>
</html>